#bag{
	width: 200px;
	height: 500px;
	margin: 20px auto;
	background: url('bag.png') center no-repeat;
	background-size: 80%;
}

#bag.burst{
	background: url('bag-burst.png') center no-repeat;
	background-size: 80%;
}

#bag-health{
	width: 400px;
	border: 2px solid #000;
	margin: 0 auto 20px auto;
}

#bag-health > div{
	height: 20px;
	background-color: crimson;
}

#controls{
	text-align: center;
}