<!DOCTYPE html>
<html>
	<head>
		<title>Laracasts - VueJS Step by Step</title>
		<script type="text/javascript" src="./scripts/vue.js"></script>
		<style type="text/css">
			.color-red{
				color: red;
			}
			.color-blue{
				color: blue;
			}
			.is-loading{
				background: grey;
			}
		</style>
	</head>
	<body>
		<div id="root">
			<input type="text" id="input" v-model="message">
			<!-- The value in p will be automatically updated -->
			<p>The value of the input is: {{message}}.</p>
			
			<hr>

			<ul>
				<li v-for="name in names" v-text="name"></li>
				<!-- Can be like this too -->
				<!-- <li v-for="name in names">{{name}}</li> -->
			</ul>
			<input type="text" v-model="newName">
			<!-- <button v-on:click="addName">Add Name</button> -->
			
			<!-- Using short-hand notation -->
			<button @click="addName">Add Name</button>

			<hr>

			<h1 v-bind:class="className">Hello, World!</h1>
			<button :class="{ 'is-loading': isLoading }" @click="toggleClass">Click Me</button>

			<button v-bind:disabled="isDisabled" title="Hover" @mouseover="toggleDisabled">I am disabled</button>

			<hr>
			<!-- <button v-bind:title="title">Hover Over Me</button> -->
			<!-- Using short-hand notation -->
			<button :title="title">Hover Over Me</button>
		</div>

		<script type="text/javascript">
			// Traditional way of displaying data - not binding
			// let data = {
			// 	message: "Hello World"
			// }
			// document.querySelector('#input').value = data.message;

			var app = new Vue({
				el: '#root',
				data: {
					newName: '',
					message: 'Hello, World!',
					names: ['Joe', 'Mary', 'Jane', 'Jack'],
					title: 'Now the title is being set thhrough Vue',
					className: 'color-red',
					isLoading: true,
					isDisabled: false
				},
				methods:{
					addName(){
						console.log('Adding name: ' + this.newName);
						this.names.push(this.newName);
						this.newName = '';
					},
					toggleClass(){
						this.isLoading = false;
					},
					toggleDisabled(){
						this.isDisabled = !this.isDisabled;
					}
				},
				mounted(){
					console.log('Ready!');
					
					// Traditional way of adding a name to the list
					// document.querySelector('#add-name-btn').addEventListener('click', () => {
					// 	let name = document.querySelector('#add-name-input');
					// 	if(name.value !== ''){
					// 		app.names.push(name.value);
					// 	}
					// 	name.value = '';
					// });
				}
			});

		</script>

	</body>
</html>